* {
	box-sizing: border-box;
}

.v-btn > * {
	transition: all 0.1s ease-in-out !important;
}

.v-theme--light {
	--v-hover-opacity: 0.1;
}

.v-snackbar__wrapper {
	min-width: max-content !important;
}

.octo-ui .v-field--variant-solo,
.octo-ui .v-field--variant-solo-filled {
	box-shadow: none !important;
}
.octo-ui .v-input__details {
	position: absolute;
}

.octo-ui .deletebtn .v-icon--size-default {
	font-size: 1.25em;
}

.streaming_row .v-list-item__content,
.non-streaming_row .v-list-item__content  {
	display: flex !important;
	align-items: center !important;
	position: relative;
}
.v-selection-control {
	flex-direction: row-reverse;
	justify-content: space-between;
}

.notifications .v-list-item__content {
	display: flex !important;
	justify-content: space-between !important;
	align-items: center;
	position: relative;
}

.notifications .v-btn {
	height: calc(var(--v-btn-height) + -6px) !important;
	border-radius: 8px !important;
}

.notification-item .v-btn {
    width: auto !important;
}

.main-btn .v-icon{
	transition: all 0.2s ease-in-out;
	rotate: 0deg;
} 
.main-btn-close .v-icon{
	rotate: -90deg;
}

.drag-btn .v-icon{
    font-size: calc(var(--v-icon-size-multiplier)* 2em) !important;
}

.edit-btn .v-icon{
	transition: all 0.2s ease-in-out;
}

.edit-btn-editmode .v-icon{
	rotate: -90deg;
}

html {
	overflow: hidden;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	overflow: auto;
	/* outline: 2px solid red; */
}
